/*|| HOMEPAGE SECTION_________________________________________________________________________________________*/

/*La section .homepage-section:
Affichage flex
image d'arrière-plam
hauteur et largeur
taille et positionnement de l'arrière-plan
*/
.homepage-section {
    display: inline-flex;
    background-image: url(../images/image1-coding-screen.jpg);
    height: 500px;
    width: 100vw;
    margin-top: -60px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--lightgrey);
}

/*Div .overlay-50 qui ne sert que d'overlay pour l'image
Affichage en bloque
Positionnement absolue
Couleur d,arrière-plan
Ombre de la boite vers l'intérieur pour faire un vignettage
hauteur hérité du parent (homepage-section)
largeur de 100% du viewport*/
.overlay-50 {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -10px 60px 30px rgba(0, 0, 0, 0.4);
    height: inherit;
    width: 100vw;
}



/*Le container de la .homepage-section:
Affichage flex et direction column 
z-acceuil de 1 pour aller au dessus de l'overlay
couleur et marges*/
.homepage-section .container {
    display: flex;
    flex-direction: column;
    z-acceuil: 1;
    color: white;
    margin: 0 30vw 0 5vw;
}


/*Le H1 du .container de la .homepage-section: 
Famille, poid et taille de la police
marge 0*/
.homepage-section .container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0;
}

/*Le .subtitle du .container de la .homepage-section:
famille, style, couleur et opacité de la police
marge extérieur haut
position relative
Pas d'empilement du texte*/
.homepage-section .container .subtitle {
    font-family: monospace;
    font-style: italic;
    color: whitesmoke;
    opacity: 30%;
    margin-top: 0;
    position: relative;
    white-space: nowrap;
}

/*Tous les p du .container de la .homepage-section: 
Famille, taille de la police
hauteur des lignes
marges extérieurs*/
.homepage-section .container p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}

/*Le 3eme enfant du parent .container de la .homepage-section: 
Marge extérieur haut*/
.homepage-section .container p:nth-child(3) {
    margin-top: 1em;
}


.homepage-section-table {
    margin-top: 10px;
}


.homepage-section-table td:nth-child(1) {
    white-space: nowrap;
    /*Empêche l'empile de texte car il y à 2 mot dans le data cell*/
    width: 0;
    /*Même largeur que le contenu à l'intérieur*/
    padding-right: 15px;
}


/*|| AGENCE SECTION_________________________________________________________________________________________*/

/*.agence-section:
Affichage flex
aligner le texte à droite
aligner les items au centre
marges intérieurs
couleur de la police
Ombre de la boite et une transition*/
.agence-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--darkaccent);
    box-shadow: 0 0 0px 10px var(--lightgrey);
}


/*Un autre div que ceux à l'intérieur ne soit pas en "flex-direction: column"*/
.agence-section .text-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 20px;
}

/*L'image de la .agence-section: fond ombragé
Dégradé
Padding
Bordure en rond*/
.agence-section svg {
    max-width: 200px;
    min-width: 200px;
    height: fit-content;
    margin: 0 0 0 -160px;
    background-image: radial-gradient(circle, rgba(46, 46, 46, 0.3) 20%, rgba(5, 5, 5, 0) 60%);
    padding: 50px 50px 50px 40px;
    border-radius: 200px;
}

/*Remplissage de couleur du tracé*/
.agence-section path {
    fill: var(--lightestgrey);
}

.agence-section .text {
    text-align: right;
}

.agence-section .btn-container {
    align-self: center;
    margin-block: -30px 100px;
    /*Marge haut et bas*/
}


#agence_btn {
    padding: 20px 30px 20px 30px;
}


/*|| ÉQUIPE SECTION_________________________________________________________________________________________*/

/*Affichage flex et la direction
Alignement du texte
Couleur de la police*/
.team-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--darkaccent);
}

.team-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

.team-section p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.team-section .text-container {
    padding: 40px 10vw 40px 5vw;
}



/*|| MEMBERS_______________________________________________________________________________________________*/



.team-section .team-container {
    display: flex;
    flex-direction: column;
    color: var(--lightestgrey);
    background-image: url(../images/team-coding.jpg);
    background-position: center;
    background-size: cover;
    height: 1500px;
    box-shadow: 0 0px 10px 10px var(--lightgrey);
}

.team-section .team-container .members-container {
    padding: 50px 10vw 0 5vw;
    z-acceuil: 1;
}

.team-section .team-container .members-container .members {
    margin: 50px 0;
    padding: 10px;
    width: 500px;
    box-shadow: 0px 0px 0px 0px var(--lightgrey);
}

.team-section .team-container .members-container .members a {
    text-decoration: none;
    color: var(--lightestgrey);
}


/*Texte aligné à droite pour les member #1 et #3*/
.team-section .team-container .members-container #member1,
.team-section .team-container .members-container #member3,
.team-section .team-container .members-container #member5 {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    box-shadow: 2px 2px 0px 0px var(--lightgrey);
}

/*::before de #member1 et #member3 seulement visible lors du hover à la prochaine ligne
largeur et hauteur du bloque
Filtre pour inverser la couleur et opacité de 0*/
.team-section .team-container .members-container #member1 a::before,
.team-section .team-container .members-container #member3 a::before,
.team-section .team-container .members-container #member5 a::before {
    content: url(../Images/Linkedin\ logo.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    padding-right: 10px;
    opacity: 0;
    transition: all ease-in 100ms;
}

/*La transitino à Opacité 1 des ::before*/
.team-section .team-container .members-container #member1 a:hover::before,
.team-section .team-container .members-container #member3 a:hover:before,
.team-section .team-container .members-container #member5 a:hover:before {
    opacity: 1;
    transition: all ease-in 100ms;
}

/*Texte aligné à gauche pour les member #2 et #4*/
.team-section .team-container .members-container #member2,
.team-section .team-container .members-container #member4 {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    box-shadow: -2px 2px 0px 0px var(--lightgrey);
}

/*::after de #member2 seulement visible lors du hover à la prochaine ligne
largeur et hauteur du bloque
Filtre pour inverser la couleur et opacité de 0*/
.team-section .team-container .members-container #member2 a::after {
    content: url(../Images/cheese-solid.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    padding-right: 10px;
    margin-left: 10px;
    opacity: 0;
    transition: all ease-in 100ms;
}

/*La transition à Opacité 1 du ::after*/
.team-section .team-container .members-container #member2 a:hover:after {
    opacity: 1;
    transition: all ease 100ms;
}

/*::after de #member4 seulement visible lors du hover à la prochaine ligne
largeur et hauteur du bloque
Filtre pour inverser la couleur et opacité de 0*/
.team-section .team-container .members-container #member4 a::after {
    content: url(../Images/Linkedin\ logo.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    padding-left: 10px;
    opacity: 0;
    transition: all ease-in 100ms;
}

/*La transition à Opacité 1 du ::after*/
.team-section .team-container .members-container #member4 a:hover::after {
    opacity: 1;
    transition: all ease-in 100ms;
}


/*|| SERVICES SECTION________________________________________________________________________________________*/


/*.services-section:
Affichage flex
aligner le texte à droite
aligner les items au centre
marges intérieurs
couleur de la police
Ombre de la boite et une transition*/
.services-section {
    display: flex;
    flex-direction: column;
    color: var(--darkaccent);
    box-shadow: 0 0 0px 10px var(--lightgrey);
    align-items: center;
}


/*Un autre div que ceux à l'intérieur ne soit pas en "flex-direction: column"*/
.services-section .text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 20px 0 20px;
}

.services-section .text {
    text-align: center;
}

/*Marges intérieurs gauche et droite*/
.services-section #services-btn {
    padding-inline: 30px;
}

/*Largeur de la table à la taille du contenu*/
.services-section-table {
    margin: 0px 0 50px 0;
    width: fit-content;
}


.services-section-table td {
    white-space: nowrap;
    /*Empêche l'empile de texte car il y à 2 mot dans le data cell*/
    padding-right: 10px;
}


/*|| REALISATIONS SECTION__________________________________________________________________________________________*/


/*.realisations-section:
Affichage flex
aligner le texte à droite
aligner les items au centre
marges intérieurs
couleur de la police
Ombre de la boite et une transition*/
.realisations-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--darkaccent);
    box-shadow: 0 10px 0 0px var(--lightgrey);
    margin-bottom: 20px;
}


/*Image avant le texte de la realisations-section*/
.realisations-section .img-container {
    display: block;
    background-image: url(../Images/realisations-tower.jpg);
    background-position-y: -500px;
    /*Arrangement de la position en y*/
    background-size: cover;
    height: 500px;
    width: inherit;
}

/*marges extérieurs et alignement du texte au centre*/
.realisations-section .text {
    margin: 50px 10vw 60px 10vw;
    text-align: center;
}

/*Pas d'affichage (s'affiche seulement lors du focus du #see-more-btn et lors du survol du
.realisation-display lui-même*/
.realisations-display {
    display: none;
}

/*Affichage block pour passer outre à l'affichage par defaut de inline-block*/
.realisations-display img {
    display: block;
    width: 50vw;
    height: 40vw;
    object-fit: cover;
    /*Couvrir pour ne pas étirer l'image*/
    filter: brightness(50%);
}

/*Positionnement relatif pour que .img-name-overlay ait une position absolue qui 
est relatif au parent*/
.realisations-display table td {
    position: relative;
}


.realisations-display .img-name-overlay {
    position: absolute;
    display: block;
    object-fit: contain;
    filter: brightness(100%);
    z-acceuil: 1;
    /*z-acceuil pour être au dessus de l'image*/
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Transform: translate: Retire la moitié de la hauteur et de la largeur à sa position pour positionner le block en position absolue au centre*/
}

/*After du texte en affichage block et apparait lors du hover de la td spécifique*/
.realisations-display table tr td::after {
    content: 'Hic non nobis ad sint perspiciatis iusto, excepturi modi aliquam enim ipsum expedita consequuntur architecto.';
    display: block;
    position: absolute;
    z-acceuil: 1;
    text-align: center;
    color: white;
    background: var(--accent);
    opacity: 0;
    width: 40vw;
    padding: 10vw 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Transform: translate: Retire la moitié de la hauteur et de la largeur à sa position pour positionner le block en position absolue au centre*/
    transition: ease-in 100ms;
}

.realisations-display table tr td:hover:after {
    opacity: .97;
    transition: ease-in 150ms;
    transition-delay: .3s;
}

.realisations-section #see-more-btn {
    height: 100px;
    border-radius: 0;
    /*Passer outre le border radius de la class btn1*/
}

/*Apparition du .realisations-display lors du focus du boutton #see-more-btn*/
.realisations-section #see-more-btn:focus+.realisations-display {
    display: flex;
}

/*Pour que le .realisation-display reste affiché même si le #see-more-btn n'est plus en focus,
mais que le .realisations-display est en survol*/
.realisations-section .realisations-display:hover {
    display: flex;
}



/*|| PROJECT TALK SECTION_________________________________________________________________________________________*/

/*.project-talk-section:
Affichage flex
aligner le texte à droite
aligner les items au centre
marges intérieurs
couleur de la police
Ombre de la boite et une transition*/
.project-talk-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--darkaccent);
    margin-bottom: 20px;
}

/*Alignement du texte à gauche*/
.project-talk-section .text {
    margin: 50px 10vw 60px 5vw;
    text-align: left;
}

.project-talk-section h1 {
    margin-bottom: 20px;
}

.project-talk-form {
    display: flex;
    flex-direction: column;
}

.project-talk-form p {
    margin: 0 0 2px 0;
}

.project-talk-form input {
    width: 30vw;
    margin-bottom: 10px;
    outline: none;
    font-family: 'Rubik', sans-serif;
    border: 2px solid var(--lightgrey);
    padding: 10px;
    border-radius: 5px;
}

.project-talk-form textarea {
    margin-bottom: 10px;
    outline: none;
    font-family: 'Rubik', sans-serif;
    border: 2px solid var(--lightgrey);
    resize: vertical;
    /*Permettre agrandissement de la zone texte seulement verticalement
    et non horizontalement*/
    width: 80%;
    min-height: 10px;
    padding: 12px;
    border-radius: 5px;
}

.project-talk-form table {
    margin-bottom: 10px;
    font-size: .8em;
}

/*Suppression de la marge par défaut des checkbox et la même largeur que le contenu*/
.project-talk-form table input[type=checkbox] {
    margin: 0;
    width: fit-content;
}

.project-talk-form table a {
    color: var(--accent);
}