/*.realisations-section:
Affichage flex
aligner le texte à droite
aligner les items au centre
marges intérieurs
couleur de la police
Ombre de la boite et une transition*/
.realisations-section {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--darkaccent);
    margin-bottom: 20px;
}

/*marges extérieurs et alignement du texte au centre*/
.realisations-section .text {
    margin: 50px 10vw 60px 10vw;
    text-align: center;
}

/*Pas d'affichage (s'affiche seulement lors du focus du #see-more-btn et lors du survol du
.realisation-display lui-même*/
.realisations-display {
    display: flex;
}

/*Affichage block pour passer outre à l'affichage par defaut de inline-block*/
.realisations-display img {
    display: block;
    width: 50vw;
    height: 40vw;
    object-fit: cover;
    /*Couvrir pour ne pas étirer l'image*/
    filter: brightness(50%);
}


/*Positionnement relatif pour que .img-name-overlay ait une position absolue qui 
est relatif au parent*/
td {
    position: relative;
}


.realisations-display .img-name-overlay {
    position: absolute;
    display: block;
    object-fit: contain;
    filter: brightness(100%);
    z-index: 1;
    /*z-acceuil pour être au dessus de l'image*/
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Transform: translate: Retire la moitié de la hauteur et de la largeur à sa position pour positionner le block en position absolue au centre*/
}

/*After du texte en affichage block et apparait lors du hover de la td spécifique*/
.realisations-display table tr td::after {
    content: 'Hic non nobis ad sint perspiciatis iusto, excepturi modi aliquam enim ipsum expedita consequuntur architecto.';
    display: block;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    background: var(--accent);
    opacity: 0;
    width: 40vw;
    padding: 10vw 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Transform: translate: Retire la moitié de la hauteur et de la largeur à sa position pour positionner le block en position absolue au centre*/
    transition: ease-in 100ms;
}

.realisations-display table tr td:hover:after {
    opacity: .97;
    transition: ease-in 150ms;
    transition-delay: .3s;
}

/*Inverse la couleur des .img-name-overlay pour les rangées #tr3 et #tr4*/
.realisations-display table #tr3 .img-name-overlay,
.realisations-display table #tr4 .img-name-overlay {
    filter: invert(1);
}