/*Affichage flex et la direction
Alignement du texte
Couleur de la police*/
.team-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--darkaccent);
}

.team-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

.team-section p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.team-section .text-container {
    padding: 40px 10vw 40px 5vw;
}

.text-img-container {
    display: flex;
    flex-direction: row;
}

.text-img-container img {
    max-width: 700px;
    max-height: 500px;
    object-fit: contain;
    margin-right: 30px;
    border-radius: 5px;
}

@media (max-width: 1170px) {
    .text-img-container {
        flex-direction: column;
    }

    .text-img-container img {
        margin-left: auto;
        margin-right: auto;
    }
}

/*|| MEMBERS_______________________________________________________________________________________________*/



.team-section .team-container {
    display: flex;
    flex-direction: column;
    color: var(--lightestgrey);
}

.team-section .team-container .members-container {
    padding: 50px 10vw 0 5vw;
    z-index: 1;
    color: var(--darkaccent);
}

.team-section .team-container .members-container .members {
    position: relative;
    margin: 200px 0;
    padding: 10px;
    width: 40vw;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    box-shadow: 0px 2px 0px 0px var(--accent);
}

.team-section .team-container .members-container .members a {
    text-decoration: none;
    color: var(--darkaccent);
}


/*::after de #member2 et #member4 seulement visible lors du hover à la prochaine ligne
largeur et hauteur du bloque
Filtre pour inverser la couleur et opacité de 0*/
.team-section .team-container .members-container .members a::after {
    content: url(../Images/Linkedin\ logo.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    opacity: 0;
    transition: all ease-in 100ms;
}

/*La transition à Opacité 1 des ::after*/
.team-section .team-container .members-container .members a:hover::after {
    opacity: 1;
    transition: all ease-in 100ms;
}

.team-section .team-container .members-container .members img {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    top: -40px;
    bottom: 50%;
    left: 150%;
    border-radius: 100%;
}

/*Tourne l'image de profile du #member3*/
.team-section .team-container .members-container #member3 img {
    transform: rotate(180deg);
}

/*Tourne l'image de profile du #member5*/
.team-section .team-container .members-container #member5 img {
    transform: rotate(-90deg);
}